<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.actf.ai.voice.TTSEngine">
      <engine
            class="org.eclipse.actf.ai.screenreader.windoweyes.engine.GWSpeak"
            id="org.eclipse.actf.ai.screenreader.windoweyes.engine.GWSpeak"
            name="Window-Eyes"
            priority="999"/>
   </extension>

</plugin>
