<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.actf.ai.voice.TTSEngine">
      <engine
            class="org.eclipse.actf.ai.screenreader.jaws.Jaws"
            description="JAWS"
            id="org.eclipse.actf.ai.screenreader.jaws.Jaws"
            name="JAWS"
            priority="1000"/>
   </extension>
   <extension
         point="org.eclipse.actf.ai.navigator.ScreenReaderController">
      <controller class="org.eclipse.actf.ai.screenreader.jaws.Jaws"/>
   </extension>


</plugin>
