<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.actf.ai.voice.TTSEngine">
         <engine
               class="org.eclipse.actf.ai.tts.protalker.engine.ProTalker"
               description="ProTalker"
               id="org.eclipse.actf.ai.tts.protalker.engine.ProTalker"
               name="ProTalker"
               priority="200"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.actf.ai.voice.preferences.VoicePreferencePage"
            class="org.eclipse.actf.ai.tts.protalker.preferences.ProTalkerPreferencePage"
            id="org.eclipse.actf.ai.tts.protalker.preferences.ProTalkerPreferencePage"
            name="%ProTalkerPreferencePage.name"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.actf.ai.tts.protalker.preferences.ProTalkerPreferenceInitializer"/>
   </extension>

</plugin>
