<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.actf.ai.navigator.MediaControl">
      <controller class="org.eclipse.actf.ai.audio.description.impl.MediaControlImpl"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.actf.ai.audio.description.views.DescriptionView"
            icon="icons/micx16.gif"
            id="org.eclipse.actf.ai.audio.description.views.DescriptionView"
            name="%AudioDescription.view.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.actf.examples.aibrowser.DefaultPerspective">
         <view
               closeable="false"
               id="org.eclipse.actf.ai.audio.description.views.DescriptionView"
               moveable="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.actf.ai.navigator.views.NavigatorTreeView"
               showTitle="true"
               standalone="false"
               visible="true"/>
      </perspectiveExtension>
   </extension>
   <!--extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.actf.ai.audio.description.actionSet1"
            label="org.eclipse.actf.ai.audio.description.actionSet1"
            visible="true">
         <action
               class="org.eclipse.actf.ai.audio.description.actions.AudioDescriptionActionDelegate"
               id="org.eclipse.actf.ai.audio.description.AudioDescription"
               label="&amp;Audio Description"
               menubarPath="org.eclipse.actf.examples.aibrowser.FileMenu/filegroup"
               state="false"
               style="toggle"
               tooltip="Toggle audio description mode"/>
      </actionSet>
   </extension-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.actf.ai.audio.description.preferences.ADPreferencePage"
            id="org.eclipse.actf.ai.audio.description.preferences.ADPreferencePage"
            name="%AudioDescription.preference.name"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.actf.ai.audio.description.preferences.ADPreferenceInitializer"/>
   </extension>

</plugin>
