<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="Navigation" name="Navigation" schema="schema/Navigation.exsd"/>
   <extension-point id="ScreenReaderController" name="ScreenReaderController" schema="schema/ScreenReaderController.exsd"/>
   <extension-point id="MediaControl" name="MediaControl" schema="schema/MediaControl.exsd"/>
   <extension-point id="MetadataCacheCleaner" name="MetadataCacheCleaner" schema="schema/MetadataCacheCleaner.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.actf.ai.navigator.views.NavigatorTreeView"
            icon="icons/treex16.gif"
            id="org.eclipse.actf.ai.navigator.views.NavigatorTreeView"
            name="%NavigationTreeView.name"/>
   </extension>
   <extension
         point="org.eclipse.actf.model.ui.editors.ie.WebBrowserEventListener">
      <listener
            class="org.eclipse.actf.ai.navigator.impl.WebEventListener"
            id="org.eclipse.actf.ai.navigator.impl.WebEventListener"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.actf.ai.navigator.preferences.UserInfoPreferencePage"
            id="org.eclipse.actf.ai.navigator.preferences.UserInfoPreferencePage"
            name="%UserAnnotation"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.actf.ai.navigator.preferences.UserInfoPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.actf.ai.navigator.MetadataCacheCleaner">
      <cleaner class="org.eclipse.actf.ai.navigator.impl.FennecEntryCacheCleaner"/>
   </extension>

</plugin>
